@charset "UTF-8";

body {
    font-family: sans-serif;
}

h1 {
    margin: 5px;
}

table {
    width: 800px;
    border-collapse: collapse;
    margin: 5px;
    border: 2px solid burlywood;

}

.azul {
    background-color: rgba(87, 154, 255, 0.671);
}

.vermelho {
    background-color: rgba(255, 87, 87, 0.671);
}

.verde {
    background-color: rgba(87, 255, 101, 0.671);
}

.amarelo {
    background-color: rgba(255, 230, 87, 0.671);
}

td {
    border: 1px solid black;
    padding: 8px;
}
