@charset "UTF-8"; 

*{
    /*height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #127369, #10403B);
}

main{
    background-color: whitesmoke;
    border-radius: 14px;
    box-shadow: 7px 7px 17px #1c2221bd;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #8AA6A3;
    text-align: center;
    text-shadow: 1px 1px 2px #6b8380da;
}
h2{
    color: #4C5958;
    text-shadow: 1px 1px 2px #30383765;
    text-align: center;
}

p{
    text-align: justify;
    text-indent: 2%;
}